1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples:
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    if str(n)==str(n)[::-1]:
        print(f'{n} --> {True}')
    else:
        print(f'{n} --> {False}')
        
is_symmetrical(2345432)

2345432 --> True

In [3]:
is_symmetrical('abcdcba')

abcdcba --> True

In [4]:
is_symmetrical(256457658)

256457658 --> False

2.Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples:
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [8]:
def multiply_nums(string):
    out_string = string.replace(' ','').split(",")
    out_num = 1
    for i in (out_string):
        out_num = out_num*int(i)
    print(f'{string} --> {out_num}')
    
multiply_nums('2, 3, 4, 5, 6')

2, 3, 4, 5, 6 --> 720

In [9]:
multiply_nums('3, 4, 12, 67, 89')

3, 4, 12, 67, 89 --> 858672

3.Create a function that squares every digit of a number.
Examples:
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

Notes:
The function receives an integer and must return an integer.

In [10]:
def square_digits(n):
    list1 = [str(int(i)**2) for i in str(n)]
    output = ''.join(list1)
    print(f'{n} --> {output}')
    
square_digits(1234)

1234 --> 14916

In [11]:
square_digits(3456)

3456 --> 9162536

4.Create a function that sorts a list and removes all duplicate items from it.
Examples:
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [14]:
def setify(list1):
    out = sorted(set(list1))
    print(f'{list1} --> {out}')
    
setify([1,2,3,4,23,4,2])

[1, 2, 3, 4, 23, 4, 2] --> [1, 2, 3, 4, 23]

5.Create a function that returns the mean of all digits.
Examples:
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

Notes:
1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
2.The mean will always be an integer.

In [23]:
def mean(n):
    sum = 0
    for i in str(n):
        sum = sum+int(i)
    mean = int(sum/len(str(n)))
    print(f'mean of {n} is {mean}')
          
mean(234)

mean of 234 is 3